# Basic Python Operations

Introduction

Untuk sesi ini, anda akan mulai mempelajari Python. Python sendiri adalah bahasa yang cukup populer saat ini di berbagai bidang, terutama yang berhubungan dengan data. Mari kita coba dalami lebih lanjut.

Sekarang, mari kita coba memulai untuk mencoba Python di Jupyter Notebook! Coba jalankan kode di bawah ini dengan menekan Shift+Enter.

In [1]:
print ("Hello World!!")

Hello World!!

Selamat, sekarang kamu sudah bisa menggunakan Python! Tentu saja ini masih belum cukup, namun tidak perlu khawatir, karena ingin ditekankan bahwa bahasa Python adalah bahasa yang cukup mudah untuk dipahami.

### What is Object in Python

* Ada beberapa jenis objek yang sering ditemui di python yaitu:

| Object Type  | Definisi                                                                              | Contoh                               |
|--------------|---------------------------------------------------------------------------------------|--------------------------------------|
| Numbers (float, integer)      | Angka (contoh: bilangan bulat, desimal, dll)                                          | 1, 100, 9999, 9.1                    |
| Strings      | Teks                                                                                  | 'ayam', 'bebek', 'ikan'              |
| Lists        | Kumpulan objek **DAN** dapat diedit                                                   | ['buku', 'pensil', 'pulpen']         |
| Tuples       | Kumpulan objek **DAN TIDAK** dapat diedit                                             | (1, 'asik', 2, 'kopi')               |
| Set          | Kumpulan objek, tidak dapat diedit, **DAN** tidak boleh ada anggota yang duplikat     | {1, 2, 3, 4}                         |
| Dictionaries | Kumpulan objek dengan kunci dan tidak mengenal urutan                                 | {'makanan':'pizza', 'rasa':'mantap'} |

* Namun di pertemuan ini kita hanya akan fokus di angka(`float`,`integer`) dan `string`.
* Objek lainnya akan dibahas lebih dalam pada pertemuan-pertemuan selanjutnya.

Mari kita coba perlihatkan contohnya satu per satu.

Contoh: untuk angka, kita cukup mengetik tombol angka yang ada di keyboard kita seperti contoh berikut.

Contoh angka bilangan bulat (integer):

In [4]:
212

212

Untuk meyakinkan bahwa objek tersebut adalah angka, kita bisa mengecek dengan menggunakan fungsi `type`

In [5]:
type (212)

int

In [7]:
type ("212")

str

Terlihat bahwa hasilnya adalah int (integer), yang artinya adalah betul bahwa objek tersebut merupakan objek angka.

Terlihat bahwa jika hasilnya adalah str (string), yang artinya adalah betul bahwa objek tersebut merupakan objek teks dikarenakan menggunakan tanda petik dua (").

Contoh lain dari bentuk angka yang sering ditemui adalah float:

In [8]:
3.14

3.14

In [10]:
type(3.14)

float

---
Bisa dicoba juga dengan contoh tabel di atas untuk mengecek sendiri nama-nama tipe objek di Python.

In [11]:
#type string
type('ayam')

str

In [12]:
#tipe objek list
type(['buku', 'pensil', 'pulpen'])

list

In [13]:
#tipe objek tuple
type((1, 'asik', 2, 'kopi'))

tuple

In [14]:
#tipe objek set
type({1, 2, 3, 4})

set

In [15]:
#tipe objek dictionary
type({'makanan':'pizza', 'rasa':'mantap'})

dict

### Type Conversion

Yang akan dikenalkan di sini adalah mengubah suatu object Python menjadi:
- Angka (integer, float)
- String
- List
- Tuple
- Set

Misal, kita mempunyai sebuah objek string "1010", yang akan kita namakan sebagai `asik`.

In [18]:
asik = '1010'

Sekarang kita coba cek asik dengan cara print.

In [20]:
print(asik)

1010

Cek tipe objek dengan cara sebelumnya.

In [21]:
type(asik)

str

Oke, sudah tepat bahwa objek tersebut adalah string, tapi mungkin ada beberapa yang masih bertanya: mengapa angka 1010 dianggap sebagai string? Karena kita menggunakan tanda kutip (`"` atau `'`) sehingga Python mengganggap objek tersebut sebagai string.

Lalu, bagaimana untuk mengubah `asik` menjadi angka? Simpel, kita cukup menggunakan nama objek yang kita inginkan ke `asik`.

In [22]:
angka_asik = int(asik)

In [23]:
print(angka_asik)

1010

In [24]:
type(angka_asik)

int

Asik.

Selain integer, kita juga mengubah ke format angka lainnya yaitu float. Float sendiri bisa digunakan jika ingin menghadirkan desimal di angka yang kita punya. Ini juga akan sangat berguna jika nantinya diinginkan perhitungan yang lebih detail.

In [25]:
float(angka_asik)

1010.0

Dalam hal ini 1010 muncul sebagai 1010.0

Bagaimana jika `angka_asik` ingin dikembalikan ke `string`? Cukup dengan menggunakan `string`!

In [27]:
str(angka_asik)

'1010'

### Operators

Didalam sebuah expression, kita bisa menambahkan operator yang menggabungkan value lainnya. Berikut di bawah ini adalah beberapa operator yang dapat digunakan di Python.

| Operator                                       | Simbol |
|------------------------------------------------|--------|
| tambah                                         | +      |
| kurang                                         | -      |
| kali                                           | *      |
| pangkat                                        | **     |
| pembagian                                      | /      |
| pembagian (dengan output pembulatan kebawah)   | //     |
| hasil sisa pembagian                           | %      |

#### Tambah kurang kali bagi 

* Simbol untuk 4 operasi ini standar.
* Jika anda pernah memakai microsoft excel, operasinya sama.

Penambahan:

In [28]:
5 + 7

12

Pengurangan:

In [29]:
5 - 7

-2

Perkalian:

In [30]:
5*9

45

Pembagian:

In [31]:
345/3

115.0

#### Pangkat

* Sedikit berbeda dengan bahasa pemrograman pada umumnya yang memakai `^` untuk pangkat.
* Python memakai simbol `**`.

In [32]:
34**2

1156

#### Floor division

* Simbol *floor division* adalah salah satu hal unik di Python.
* Kebanyakan bahasa lain membutuhkan fungsi tambahan.
* Namun dalam Python cukup dengan `//`
* Ini akan menghasilkan hasil pembagian dengan pembulatan kebawah.

In [33]:
9//2

4

#### Modulo

* Operasi modulo menggunakan tanda `%`
* Di dalam pemrograman, operasi modulo akan menghasilkan sisa pembagian:

<img src="https://miro.medium.com/max/763/1*qNHqiDPc1ElQbdGfOIRXCw.jpeg" alt="Drawing" width= 500px;/>

<small>[Source](https://miro.medium.com/max/763/1*qNHqiDPc1ElQbdGfOIRXCw.jpeg)</small>

In [34]:
7%3

1

####  Urutan Operasi

Setiap operasi di dalam python memiliki urutan dalam pengoperasiannya. Jika dalam satu ekpression terdapat lebih dari satu operasi, maka kode akan di eksekusi berdasarkan operasi yang lebih tinggi prioritasnya. Berikut tabel prioritas operasi dari operator yang telah di pelajari:
<br>
<br>

| Operator                                       | Simbol |
|------------------------------------------------|--------|
| Tanda Kurung                                   | ( )     |
| Pangkat                                        | **     |
| kali, bagi, pembagian (dengan output pembulatan kebawah), hasil sisa pembagian               | * , / , //, %       |
| Tambah, Kurang                                  | + , -      |

<br>
<br>

In [35]:
5 + 2 * 10

25

In [36]:
(5 + 2) * 2 ** 3

56